<!-- <h1>home page</h1> -->
<section class="A5">

	<h3 class="text-light ml-5 pt-5">Clean & Creative</h3>
	<h1 class="text-light mt-5 ml-5">We Are an Expert</h1>
	<p class="text-light mt-5 ml-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br/> tempor incididunt ut labore et dolore magna aliqua.</p>
	<button class="btn btn-warning mt-2 ml-5">GET START</button>
	
</section>
<app-about></app-about>
<app-gallary></app-gallary>
<app-blog></app-blog>
<app-contact></app-contact>
