<!-- <h1>About working</h1> -->
<h1 class="text-center A8 col-md-12 mt-3" id="#about" >About Us</h1>
<p class="text-center col-md-12 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat<br/> hendrerit dictum. Praesent porta, purus eget sagittis imperdiet.</p>

<section >
	<div class="container">
		<div class="row">
			<div class="col-md-7 mt-5">
				<h1>Take your business to the next level</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				
			</div>
			<div class="col-md-5 mt-5">
				<img src="https://gloxy-react.envytheme.com/static/1154f2cfaf53487b50efbec3a1a817d6/14b42/about-img.jpg" class="w-100">
			</div>
		</div>
		
	</div>
</section>

