
<h1 class="text-center A8 col-md-12 mt-3" id="#about" >Gallary</h1>
<p class="text-center col-md-12 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat<br/> hendrerit dictum. Praesent porta, purus eget sagittis imperdiet.</p>

<section>
	<div class="container">
		<div class="row ml-0 p-0">
			<div class="col-md-4"><img src="https://gloxy-react.envytheme.com/static/dba8405fd9fb51fb6dc5b9a7522bfaa0/2244e/work-1.jpg" class="w-100">
			</div>
			<div class="col-md-4"><img src="https://gloxy-react.envytheme.com/static/52e24ff7d181142ba7d27ceb0ce398de/2244e/work-2.jpg" class="w-100">
			</div>
			<div class="col-md-4"><img src="https://gloxy-react.envytheme.com/static/4d87897b55ea7bd4f210c8901062c87c/2244e/work-3.jpg" class="w-100">
			</div>
			
		</div>
	</div>

	<div class="container mt-4">
		<div class="row ml-0 p-0">
			<div class="col-md-4"><img src="https://gloxy-react.envytheme.com/static/244696f83cd09b7762e4d912f94bfe0c/2244e/work-4.jpg" class="w-100">
			</div>
			<div class="col-md-4"><img src="https://gloxy-react.envytheme.com/static/5fc393095556b937853c1e7896369dc4/2244e/work-5.jpg" class="w-100">
			</div>
			<div class="col-md-4"><img src="https://gloxy-react.envytheme.com/static/1d5143bd3c4046d0fd26c2e4872ad9f6/2244e/work-6.jpg" class="w-100">
			</div>
			
		</div>
	</div>
</section>
