
<h1 class="text-center A8 col-md-12 mt-3" id="serv">Services</h1>
<p class="text-center col-md-12 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat<br/> hendrerit dictum. Praesent porta, purus eget sagittis imperdiet.</p>
<section>
	<div class="container-fluid">
		<div class="row">
			<div class=" col-md-4 mt-1  A8">
				
			</div>
		</div>
	</div>
	
</section>
<section>
	<div class="container">
		<div class="row ">
			<div class="col-md-4 mt-3">
				<div class="card shadow-lg rounded">
					<div class="card-header bg-white text-center border-0">
						<i class="fa fa-print display-3 font-weight-bold text-warning"></i>
					</div>
					<div class="card-body text-center">
						<h3>Creative Solutions</h3>
						<p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant</p>
					</div>
						
					</div>
						
					</div>
					<div class="col-md-4 mt-3">
				<div class="card shadow-lg rounded">
					<div class="card-header bg-white text-center border-0">
						<i class="fa fa-fax display-3 font-weight-bold text-warning"></i>
					</div>
					<div class="card-body text-center">
						<h3>Creative Solutions</h3>
						<p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant</p>
					</div>
						
					</div>
						
					</div>

		<div class="col-md-4 mt-3">
				<div class="card shadow-lg rounded">
					<div class="card-header bg-white text-center border-0">
						<i class="fa fa-hammer display-3 font-weight-bold text-warning"></i>
					</div>
					<div class="card-body text-center">
						<h3>Creative Solutions</h3>
						<p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant</p>
					</div>
						
					</div>
						
			</div>
					
		</div>
	</div>
    <div class="container">
		<div class="row ">
			<div class="col-md-4 mt-3">
				<div class="card shadow-lg rounded">
					<div class="card-header bg-white text-center border-0">
						<i class="fa fa-fonticons display-3 font-weight-bold text-warning"></i>
					</div>
					<div class="card-body text-center">
						<h3>Creative Solutions</h3>
						<p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant</p>
					</div>
						
					</div>
						
					</div>
					<div class="col-md-4 mt-3">
				<div class="card shadow-lg rounded">
					<div class="card-header bg-white text-center border-0">
						<i class="fa fa-compact-disc display-3 font-weight-bold text-warning"></i>
					</div>
					<div class="card-body text-center">
						<h3>Creative Solutions</h3>
						<p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant</p>
					</div>
						
					</div>
						
					</div>

		<div class="col-md-4 mt-3">
				<div class="card shadow-lg rounded">
					<div class="card-header bg-white text-center border-0">
						<i class="fa fa-fax display-3 font-weight-bold text-warning"></i>
					</div>
					<div class="card-body text-center">
						<h3>Creative Solutions</h3>
						<p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant</p>
					</div>
						
					</div>
						
			</div>
					
		</div>
	</div>
</section>